h1 {
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}
.annotation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h2 {
    margin: 0px;
    padding-top: 10px;
    padding-left: 20px;
}
p {
    font-size: 15px;
    margin: 0px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}
.annotation i {
    font-size: 30px;
    padding-top: 25px;
    padding-right: 30px;
}
