.localisation {
    background: #eaeaea;
    display: flex;
    justify-content: center;
    box-shadow: inset 0px 5px 5px 0px #dddddd;
    align-items: center;
    height: 40px;
  }
  .localisation__recherche input {
   @include recherche; 

  }