
  @mixin introduction {
    background: #f6f6f6;
    text-align: center;
    width: 100%;
    padding: 40px 0;
  }
  $degraderose:linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  @mixin introduction__btn {
    background-image: $degraderose;
    border: 1px solid transparent;
    border-radius: 30px;
    padding: 10px 5px;
    color: #fff;
    font-weight: bold;
    box-shadow: 4px 4px 6px #aaa;
    cursor: pointer;
  }
  @mixin restaurants__vignettes {
    border-radius: 25px;
    box-shadow: 4px 4px 6px #aaa;
    margin: 20px;
    position: relative;
    background: #fff;
  }
  @mixin retaurants__img {
    object-fit: cover;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 100%;
    height: 100%;
    max-height: 220px;
  }
  @mixin recherche {
    border: none;
    background: #e9e9e9;
    font-size: 1rem;
    padding: 20px 5px 20px 5px;
    width: 200px;
    text-align: center;
    box-shadow: inset 0px 5px 5px 0px #dddddd;
    height: 40px;
  }
  @mixin introduction {
    background: #f6f6f6;
    text-align: center;
    //width: 100%;//
    padding: 40px;
  }
  @mixin numeros {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #9356dc;
    color: #fff;
    border-radius: 50%;
    border: 2px solid #9356dc;
    width: 25px;
    height: 25px;
    position: relative;
    right: 20px;
  
  }
  @mixin fonctionnement__vignette {
    margin: 0 20px 20px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: #f6f6f6;
    border: 5px solid #f6f6f6;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 4px 4px 6px #e9e9e9;
    height: 50px;
  }
  @mixin btn__nouveau {
    color: #008766;
    background: $color-tertiary;
    border: 5px solid $color-tertiary;
    border-radius: 5px;
   //position: absolute;
   right: 1%;
   top: 5%;
   z-index: 3;//
  }
  @mixin header__pages {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  @mixin menu__titre {
    font-family: Shrikhand, sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  @mixin plats {
    background-color: #fff;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    box-shadow: 4px 4px 6px #aaa;
    position: relative;
    }
    @mixin menu {
      background-color: #f6f6f6;
      border-top-left-radius: 25px;
      border-top-right-radius: 25px;
      width: 100%;
      position: relative;
      margin-top: -50px;
    }